body{
font-family:Arial;
background:#050816;
color:white;
margin:0;
padding:0;
}

header{
text-align:center;
padding:40px;
background:linear-gradient(90deg,#00f7ff,#ff00f7);
}

header h1{
font-size:40px;
}

section{
padding:40px;
max-width:1000px;
margin:auto;
}

h2{
margin-bottom:20px;
color:#00f7ff;
}

/* PROYECTOS */

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
flex:1;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
background:#1a1a1a;
}

/* FORMULARIO */

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;
}

input, textarea{
padding:10px;
border:none;
border-radius:5px;
}

button{
background:#00f7ff;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#ff00f7;
color:white;
}